.container {
    font-family: Helvetica;
    margin-left: 150px;
}

.example-a {
    position: absolute;
    padding: 4px;
    margin: 30px;
    margin-left: 0;
    text-align: center;
    background-color: #bbb;
    width: 100px;

    transform: translate(-20px, 60px) rotate(-78deg) scale(1.6) ;

}

.example-a img{
    width: 100%;    
}

.example-b {
    position: absolute;
    padding: 4px;
    margin: 30px;
    margin-left: 0;
    text-align: center;
    color: #fff;
    background-color: #666;
    width: 100px;

    transform: translate(300px, 120px) rotate(15deg) scale(2.5);

}

.example-b img{
    width: 100%;    
}

.example-c {
    position: absolute;
    padding: 4px;
    margin: 30px;
    margin-left: 0;
    text-align: center;
    background-color: #ddd;
    width: 100px;

    transform: translate(600px, 0px) rotate(-30deg) scale(0.65);

}

.example-c img{
    width: 100%;
}


/**** ROW 2 *******/

.example-d {
    position: absolute;
    padding: 4px;
    margin: 30px;
    margin-left: 0;
    text-align: center;
    background-color: #999;
    width: 100px;

    transform: translate(0px, 300px) rotate(-5deg) scale(1.4);
}

.example-d img{
    width: 100%;    
}

.example-e {
    position: absolute;
    padding: 4px;
    margin: 30px;
    margin-left: 0;
    text-align: center;
    background-color: #bbb;
    width: 100px;

    transform: translate(180px, 570px) scale(2.4) rotate(30deg);
}

.example-e img{
    width: 100%;    
}

.example-f {
    position: absolute;
    padding: 4px;
    margin: 30px;
    margin-left: 0;
    text-align: center;
    color: #fff;
    background-color: #444;
    width: 100px;

    transform: translate(570px, 300px) rotate(-50deg) scale(1.7);

}

.example-f img{
    width: 100%;
}