:root {
    --dark-blue: #030035;
    --blue: #00f;
}

body {

    background-color:  var(--dark-blue); /* This is a fallback color for outdated browsers */
    background-image: linear-gradient(to bottom, var(--dark-blue), var(--blue));

}

.box {
    width: auto;
    height: 1000px;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 10px white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer {
    width: auto;
    text-align: center; 
    text-shadow: 2px 0px 3px white;
}