h1 {
	color: orange;
	text-align: center;
}

p {
	color: green;
}

header p span {
	color: blue;
}

.highlight {
	background-color: yellow;
}

footer {
	background-color: rgba(173, 216, 230, 0.233);
}

footer .highlight {
	background-color: lightgray;
}