html {
    background-color: #869960;
  }
  
  body {
    font-family: Tahoma, sans-serif;
    font-size: 87%;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
  
  header {
    padding-top: 20px;
    color: #617140;
  }
  
  header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
  }
  
  header p {
    margin: 0;
  }
  
  /* Site Navigation */
  .site-nav {
    margin-top: 20px;
  }
  
  .site-nav ul {
    margin: 0;
    padding: 0;
  }
  
  .site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
  }
  
  .site-nav a {
    display: block;
    color: #617140;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #e5e9dc;
    border-bottom: none;
  }
  
  .site-nav a:hover {
    background-color: #e5e9dc;
  }
  
  /* End Site Navigation */
  
  .content-area {
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
  }
  
  .main-area {
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
  }
  
  /* Table Styles */
  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
  }
  
  .col-item-name {
    width: 60%;
  }
  
  .col-quantity,
  .col-price {
    width: 20%;
  }
  
  table th {
    text-align: left;
    background-color: #869960;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  }
  
  table th,
  table td {
    border: 1px solid #869960;
    padding: 10px;
    vertical-align: top;
  }
  
  table tbody tr:nth-child(even) td {
    background-color: #e5e9dc;
  }
  
  table.grocery-list tr :nth-child(2),
  table.grocery-list tr :nth-child(3) {
    text-align: center;
  }
  
  table tbody tr:hover td {
    background-color: #e6dce9;
  }


  form {
      background: #ECECEC;
      padding: 30px 40px;
  }

  .hidden-label {
      position: absolute;
      height: 0;
      width: 0;
      overflow: hidden;
      visibility: hidden;
  }

input,
select {
    font-family: Tahoma, sans-serif;
    font-size: 100%;
}

  /* Default state, what the user sees when they first upload
  the page */
  input[type="email"],
  input[type="password"],
  select {
      width: 100%;
      display: block;
      box-sizing: border-box;
      padding: 0 10px;
      height: 40px;
      margin-bottom: 15px;
      border: 1px solid #CDCDCD;

      /* Removes Google Chrome's default outline so we can see our own */
      outline: none;

  }

  /* Use variables like this to not have to copy
  and paste values. 
  Source: https://www.instagram.com/p/CMY1rcLgqGS/  */  
:root {
    --green: #869960;
    --darker-green: #798A56;
    --darker-green-2: #535E38;
}

  /* "Focus state" is when the user is has this
      element selected */
  input[type="email"]:focus,
  input[type="password"]:focus {
    border: 1px solid #869960;

    /* Add a subtle shadow, which shows up inside the input box around the edges */
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.13);
  }

  input[type="submit"] {
      width: 100%;
      display: block;
      box-sizing: border-box;
      background: var(--green);
      color: white;
      padding: 10px 0;
      margin-bottom: 10px;
      border: 1px solid var(--darker-green);
      
      /* Give it a round edge */
      border-radius: 3px;

      outline: none;
  }

  input[type="submit"]:focus,
  input[type="submit"]:hover {
      border: 1px solid var(--darker-green-2);
      background-color: var(--darker-green);
  }


  .checkbox-text {
      font-size: 85%;
      color: #777;
  }
  
  .sidebar {
    width: 34%;
    float: left;
    background-color: #e5e9dc;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 85%;
  }
  
  footer {
    text-align: center;
    font-size: 85%;
    color: #999;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .fix {
    clear: both;
  }
  
  .group:before,
  .group:after {
    content: "";
    display: table;
  }
  
  .group:after {
    clear: both;
  }
  
  .group {
    zoom: 1;
  }
  